@import url("style-common.css");

body {
  color: #333;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}
.quote-section {
  margin-bottom: 30px;
}
.quote {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio {
  flex: 1;
  color: #444;
  text-align: justify;
}
.bio-line {
  display: block;
  margin-bottom: 5px;
}
.bio-line i {
  margin-right: 10px;
  color: #2f6bb1; 
}
.special {
  display: inline-block;
  padding: 10px 25px;
  background-color: #fff;
  color: #2f6bb1;
  text-decoration: none;
  border: 1px solid #2f6bb1;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  width: fit-content;
  margin-top: auto; 
}