@import url("style-common.css");

.main-container {
  display: flex;
  width: 100%;
  min-height: 80vh;
  /* min-height: 75vh; */
  padding: 40px;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.info-section {
  width: 70%;
  text-align: center;
}
.welcome-heading {
  background-color: #4463b9;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(47, 233, 196, 0.5);
}

.intro-title {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
}

.subtitle {
  font-size: 22px;
  color: #222;
  margin-bottom: 15px;
}

.description {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.main-content .welcome-heading,
.intro-title,
.subtitle,
.description {
  margin-bottom: 25px;
}

.profile-section {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-container {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -50px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  width: 70%;
  margin: 0 auto; 
  box-sizing: border-box;
  border: 0;
  height: 1px;
  background-color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}